@mixin for-phone {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin for-tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin phone-and-tablet {
  @media screen and (max-width: 1279.98px) {
    @content;
  }
}

@mixin only-phone {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}

@mixin only-tablet {
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    @content;
  }
}
