$accent-dark: #d41443;
$accent-light: #ffa5ba;

$main-text-color: #000000;
$secondary-text-color: #907e82;
$white-text-color: #ffffff;

$hero-bg: #ffb8ca;
$mobile-menu-bg: #e17992;
$light-bg: #fff5f6;

$main-font: 'DM Sans', sans-serif;
$title-font: 'Titan One', sans-serif;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
