.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-weight: 500;

  background-color: #fff5f6;
}
.about__label {
  margin-bottom: 15px;
}
.about__title {
  display: block;
  margin-bottom: 26px;
}
.about__picture {
  margin-bottom: 46px;
}
.about__paragraph {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.about__lead {
  margin-bottom: 28px;

  font-size: 12px;
  line-height: 1.62;

  color: $main-text-color;
}
.about__text {
  font-size: 12px;
  line-height: 1.62;

  color: $secondary-text-color;
}
.about__text:not(:last-child) {
  margin-bottom: 7px;
}
.about__btn {
  width: 176px;
}
.about__icon {
  margin-left: 13px;

  fill: $accent-dark;
}
