
.advantages {
    background: #FFF5F6;
}

.advantages__list li {
    &:not(:last-child) {
        padding-bottom: 38px;
    }
}

.advantages__item {
    & .advantages__text {
        font-family: "DM Sans";
        font-weight: bold;
        font-size: 12px;
        line-height: 170%;
        padding-right: 70px;
        
        color: #000000;
    }
    
    & .advantages__number {
        margin-top: 16px;

        font-family: "Titan One";
        font-size: 36px;
        line-height: 1.13;
        letter-spacing: 0.04em;

        color: #D41443;

        &::before {
            content: "";
            background-image: url('../images/mobile/advantages/icon1_mobile.png');
        }
    }
}