.hero {
  width: 100%;
  min-height: 500px;
  /* background-color: $hero-bg; */
  padding: 193px 30px 160px 30px;

  @include for-tablet {
    padding: 35px;
  }

  @include for-desktop {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 115px 60px;
  }
  /* background-position: 65% 50%; */
  background-repeat: no-repeat;
  background-position: 85% bottom;
  background-image: url('../images/mobile/hero/hero1.png'),
    radial-gradient(circle at 70% 54%, #ffa5ba 49%, $hero-bg 49%);
  /* background-image: radial-gradient(#ffa5ba, $hero-bg); */
}

.hero__title {
  margin-bottom: 20px;
  width: 218px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.965;
  text-transform: uppercase;
  color: $accent-dark;

  @include for-desktop {
    margin-bottom: 25px;
  }
}

.hero__title--white {
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-text-color;
}

.hero__anchors {
  display: flex;
}

.hero__btn:not(:last-child) {
  margin-right: 8px;
}

.hero__button {
  padding: 0;
  margin: 0;
  min-width: 62px;
  font-size: 8px;
  line-height: 1.25;
}

.hero__text {
  display: none;
}

.hero__modal-btn {
  display: none;
}

.hero__numbers {
  display: none;
}
