.hero {
  position: relative;
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;

  background-repeat: no-repeat;
  background-size: 171px 410px, 100% 500px;
  background-position: 85% bottom;
  background-image: url('../images/mobile/hero/hero1.png'),
    radial-gradient(circle at 70% 52%, #ffa5ba 54%, $hero-bg 54%);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/hero/hero1@2x.png'),
      radial-gradient(circle at 70% 52%, #ffa5ba 54%, $hero-bg 54%);
  }

  @include for-tablet {
    max-width: 768px;
    height: 400px;

    background-position: 58% bottom, 95% bottom, 35px 90%;
    background-size: 143px 336px, 168px 133px, 124px 126px, 100% 400px;
    background-image: url('../images/tablet/hero/hero1.png'), url('../images/tablet/hero/hero2.png'),
      url('../images/tablet/hero/hero3.png'),
      radial-gradient(circle at 60% 50%, #ffa5ba 35%, $hero-bg 35%);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/hero/hero1@2x.png'),
        url('../images/tablet/hero/hero2@2x.png'), url('../images/tablet/hero/hero3@2x.png'),
        radial-gradient(circle at 60% 50%, #ffa5ba 35%, $hero-bg 35%);
    }
  }

  @include for-desktop {
    height: 665px;
    max-width: 1280px;

    background-position: 58% bottom, 90% bottom, 115px 90%;
    background-size: 236px 557px, 293px 232px, 188px 191px, 1280px 665px;
    background-image: url('../images/desktop/hero/hero1.png'),
      url('../images/desktop/hero/hero2.png'), url('../images/desktop/hero/hero3.png'),
      radial-gradient(circle at 58% 50%, #ffa5ba 34%, $hero-bg 34%);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/hero/hero1@2x.png'),
        url('../images/desktop/hero/hero2@2x.png'), url('../images/desktop/hero/hero3@2x.png'),
        radial-gradient(circle at 58% 50%, #ffa5ba 34%, $hero-bg 34%);
    }
  }
}

.hero__main-info {
  position: absolute;
  top: 193px;
  left: 20px;

  @include for-tablet {
    top: 102px;
    left: 35px;
  }

  @include for-desktop {
    top: 171px;
    left: 115px;
  }
}

.hero__title {
  display: block;
  margin-bottom: 20px;
  width: 218px;
  text-align: left;
  font-size: 48px;
  line-height: 0.965;

  @include for-tablet {
    width: 162px;
    font-size: 34px;
    line-height: 0.905;
  }

  @include for-desktop {
    width: 277px;
    margin-bottom: 25px;
    font-size: 58px;
  }
}

.hero__title--white {
  display: inline-block;

  font-size: 26px;
  line-height: 1.15;
  color: $white-text-color;

  @include for-tablet {
    font-size: 22px;
    line-height: 1.136;
  }

  @include for-desktop {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero__links {
  display: flex;
}

.hero__anchor:not(:last-child) {
  margin-right: 8px;
}

.hero__button {
  width: 62px;
  height: 24px;
  font-size: 8px;
  line-height: 1.25;

  @include for-desktop {
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }
}
.hero__button--about {
  width: 90px;

  @include for-desktop {
    width: 138px;
  }
}

.hero__branches {
  display: none;

  @include for-tablet {
    display: block;
    position: absolute;
    top: 102px;
    right: 35px;
  }

  @include for-desktop {
    top: 181px;
    right: 115px;
  }
}

.hero__branches-item {
  width: 50px;
  position: relative;
  z-index: 1;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &:after {
    content: '';
    display: block;

    position: absolute;
    z-index: -1;
    top: -2px;
    left: 40px;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  @include for-desktop {
    width: 92px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &:after {
      content: '';
      display: block;

      position: absolute;
      z-index: -1;
      top: -30px;
      left: 80px;

      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }
}

.hero__branches-type {
  @include for-tablet {
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: $white-text-color;
  }

  @include for-desktop {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__number {
  @include for-tablet {
    font-family: 'Titan One';
    font-size: 28px;
    line-height: 1.14;
    color: $accent-dark;
  }
  @include for-desktop {
    font-size: 46px;
    line-height: 1.152px;
  }
}

.hero__modal {
  display: none;

  @include for-tablet {
    position: absolute;
    bottom: 33px;
    left: 160px;
    display: block;
  }

  @include for-desktop {
    top: 500px;
    left: 300px;
  }
}

.hero__modal-text {
  margin-bottom: 7px;
  width: 130px;
  font-size: 8px;
  line-height: 1.5;
  color: $white-text-color;

  @include for-desktop {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__icon {
  fill: $accent-dark;
}

.hero__modal-btn {
  display: none;

  @include for-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background-color: $btn-light-color;
  }

  @include for-desktop {
    width: 26px;
    height: 26px;
  }
}
