<section class="about container" id="about">
  <p class="label about__label">tradition and love</p>
  <h class="title about__title">how it’s made?</h>
  <div class="about__paragraph">
    <p class="about__lead">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about__text">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt.
    </p>
    <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
    <button class="button button--light about__btn" data-modal-open>
      Read more
      <svg class="button__icon button__icon--dark" width="7" height="10">
        <use href="./images/icons.svg#check-right"></use>
      </svg>
    </button>
  </div>
</section>
