<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Contacts and locations</h2>
    <ul class="list contacts__list card-set__list">
      <li class="contacts__item card-set__item">
        <p class="contacts__type">Cafe</p>
        <p class="contacts__location">Chicago</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contacts__work-days">Monday - Friday</p>
        <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__work-days">Saturday - Sunday</p>
        <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>

        <ul class="list contact-info">
          <li class="contact-info__item">
            <a href="tel:+61(0)383766284" rel="noreferrer noopener" class="contact-info__link link"
              >+61(0) 383 766 284</a
            >
          </li>

          <li class="contact-info__item">
            <a
              href="mailto:noreply@envato.com"
              rel="noreferrer noopener"
              class="contact-info__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item card-set__item">
        <p class="contacts__type contacts__type--background">Food truck</p>
        <p class="contacts__location">Los Angeles</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contacts__work-days">Monday - Friday</p>
        <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__work-days">Saturday - Sunday</p>
        <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>

        <ul class="list contact-info">
          <li class="contact-info__item">
            <a href="tel:+61(0)383766284" rel="noreferrer noopener" class="contact-info__link link"
              >+61(0) 383 766 284</a
            >
          </li>

          <li class="contact-info__item">
            <a
              href="mailto:noreply@envato.com"
              rel="noreferrer noopener"
              class="contact-info__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item card-set__item">
        <p class="contacts__type">Cafe</p>
        <p class="contacts__location">New York</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <p class="contacts__work-days">Monday - Friday</p>
        <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
        <p class="contacts__work-days">Saturday - Sunday</p>
        <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>

        <ul class="list contact-info">
          <li class="contact-info__item">
            <a href="tel:+61(0)383766284" rel="noreferrer noopener" class="contact-info__link link"
              >+61(0) 383 766 284</a
            >
          </li>

          <li class="contact-info__item">
            <a
              href="mailto:noreply@envato.com"
              rel="noreferrer noopener"
              class="contact-info__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="list more-info">
      <li class="more-info__item">
        <button
          class="button button--dark contact-button"
          aria-label="Our Locations"
          data-location-modal-open
        >
          Our Locations
          <svg class="button__icon button__icon--light" width="4.43" height="8">
            <use href="./images/icons.svg#check-right"></use>
          </svg>
        </button>
      </li>

      <li class="more-info__item">
        <button
          class="button button--light contact-button"
          aria-label="Franchise"
          data-franchise-modal-open
        >
          Franchise
          <svg class="button__icon button__icon--dark" width="4.43" height="8">
            <use href="./images/icons.svg#check-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<div class="backdrop is-hidden" data-location-modal>
  <div class="location-modal modal">
    <div class="location-modal__image">
      <img src="./images/location/ice-cream.webp" alt="ice-cream" width="100%" />
      <button class="modal__close" data-location-modal-close>
        <svg width="20" height="20">
          <use href="./images/icons.svg#menu-close"></use>
        </svg>
      </button>
    </div>

    <p class="location-modal__text">You can find us here!</p>

    <ul class="list location-modal__city">
      <li class="location-modal__maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.8858209706646!2d-87.72198048488464!3d41.895312579220835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e3330b49fb335%3A0xb46fa1274dbc6fbf!2sIce%20Cream%20Bar!5e0!3m2!1sru!2sua!4v1623155680433!5m2!1sru!2sua"
          height="270"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </li>
      <li class="location-modal__maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13206.688008573514!2d-118.45698173022458!3d34.154732700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb01944603573c6c5!2sSonny&#39;s%20Handcrafted%20Ice%20Cream%20%26%20Italian%20Ice!5e0!3m2!1sru!2sua!4v1623156062251!5m2!1sru!2sua"
          height="270"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </li>
      <li class="location-modal__maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.092773658724!2d-73.95787718492794!3d40.69395437933384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b2a4fd39a27%3A0x598d4925e5bb1cf8!2sIce%20Cream%20House!5e0!3m2!1sru!2sua!4v1623156728748!5m2!1sru!2sua"
          height="270"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </li>
    </ul>
  </div>
</div>

<div class="backdrop is-hidden" data-franchise-modal>
  <div class="franchise-modal modal">
    <button class="modal__close" data-franchise-modal-close>
      <svg width="20" height="20">
        <use href="./images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <p class="modal__title">Commercial concession agreement (franchise)</p>
    <ol class="franchise-modal__contract-structure">
      <li class="franchise-modal__subtitle">
        Definition of terms
        <p class="franchise-modal__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, neque! Amet ratione officiis
          fugit delectus dolores, explicabo quis dolorem temporibus at ullam labore iure praesentium
          dignissimos id, molestias maxime! Laborum.
        </p>
      </li>

      <li class="franchise-modal__subtitle">
        Scope of the contract
        <p class="franchise-modal__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, neque! Amet ratione officiis
          fugit delectus dolores, explicabo quis dolorem temporibus at ullam labore iure praesentium
          dignissimos id, molestias maxime! Laborum.
        </p>
      </li>

      <li class="franchise-modal__subtitle">
        Terms of cooperation
        <p class="franchise-modal__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, neque! Amet ratione officiis
          fugit delectus dolores, explicabo quis dolorem temporibus at ullam labore iure praesentium
          dignissimos id, molestias maxime! Laborum.
        </p>
      </li>

      <li class="franchise-modal__subtitle">
        Payments and settlement procedure
        <p class="franchise-modal__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, neque! Amet ratione officiis
          fugit delectus dolores, explicabo quis dolorem temporibus at ullam labore iure praesentium
          dignissimos id, molestias maxime! Laborum.
        </p>
      </li>

      <li class="franchise-modal__subtitle">
        Payments and settlement procedure
        <p class="franchise-modal__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, neque! Amet ratione officiis
          fugit delectus dolores, explicabo quis dolorem temporibus at ullam labore iure praesentium
          dignissimos id, molestias maxime! Laborum.
        </p>
      </li>

      <li class="franchise-modal__subtitle">
        Payments and settlement procedure
        <p class="franchise-modal__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, neque! Amet ratione officiis
          fugit delectus dolores, explicabo quis dolorem temporibus at ullam labore iure praesentium
          dignissimos id, molestias maxime! Laborum.
        </p>
      </li>

      <li class="franchise-modal__subtitle">
        Payments and settlement procedure
        <p class="franchise-modal__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, neque! Amet ratione officiis
          fugit delectus dolores, explicabo quis dolorem temporibus at ullam labore iure praesentium
          dignissimos id, molestias maxime! Laborum.
        </p>
      </li>
    </ol>
    <label class="consent franchise-modal__consent">
      <input class="consent__checkbox" type="checkbox" name="consent" id="consent" required />
      <svg class="consent__check" width="16" height="15">
        <use href="./images/icons.svg#icon-modal-check"></use>
      </svg>
      <span class="consent__unchecked"></span>
      <span>
        I agree to the newsletter and accept the
        <a
          class="consent__agreement"
          href="https://i.kym-cdn.com/photos/images/original/001/526/890/131.png"
          target="_blank"
          rel="noopener noreferrer"
        >
          Terms and Conditions
        </a>
      </span>
    </label>

    <button class="button button--dark franchise-modal__button" type="submit">Send</button>
  </div>
</div>

<script src="./js/location-modal.js"></script>
<script src="./js/franchise-modal.js"></script>
