<!--FOOTER-->
<section class="footer">
    <div class="footer__text">
        <p class="footer__text-first">homemade ice cream made</p>
        <p class="footer__text-second">with passion</p>
    </div>
    <div class="footer__socials">
        <ul class="list footer__socials-icons">
            <li class="footer__socials-item">
                <a href="" class="footer__socials-link" target="_blank" rel="noopener noreferrer">
                    <svg class="footer__socials-svg" width="20" height="20">
                        <use href="./images/icons.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__socials-item">
                <a href="" class="footer__socials-link" target="_blank" rel="noopener noreferrer">
                    <svg class="footer__socials-svg" width="20" height="20">
                        <use href="./images/icons.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__socials-item">
                <a href="" class="footer__socials-link" target="_blank" rel="noopener noreferrer">
                    <svg class="footer__socials-svg" width="20" height="20">
                        <use href="./images/icons.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer__text-tell">Feel free to contact <a href="tel:+610383766284" class="link page-header__address-link"><span class="footer__text-number">+61 (0) 383 766 284</span></a></p>
    </div>
    <div class="footer__text-contacts">
        <p class="footer__text-copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
        
    </div>
</section>