<footer class="footer">
  <div class="container footer__container">
    <div class="footer__text">
      <p class="footer__text-first">homemade ice cream made</p>
      <p class="footer__text-second">with passion</p>
    </div>
    <div class="footer__contacts">
      <ul class="list footer__socials">
        <li class="footer__socials-item">
          <a
            href="https://www.instagram.com/ice_cream_proj"
            class="footer__socials-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer__socials-svg" width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__socials-item">
          <a
            href="https://github.com"
            class="footer__socials-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer__socials-svg" width="20" height="20">
              <use href="./images/icons.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__socials-item">
          <a
            href="https://telegram.org"
            class="footer__socials-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer__socials-svg" width="20" height="20">
              <use href="./images/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__socials-item">
          <a
            href="https://facebook.com"
            class="footer__socials-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer__socials-svg" width="20" height="20">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__contacts">
        Feel free to contact
        <a href="tel:+610383766284" class="link"
          ><span class="footer__text-number">+61 (0) 383 766 284</span></a
        >
      </p>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright-text">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
