<section class="gallery">
  <div class="container">
    <figure class="gallery__item gallery__item--1">
      <picture>
        <source
          srcset="./images/desktop/gallery/img1.webp 1x, ./images/desktop/gallery/img1@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img1.jpg 1x, ./images/desktop/gallery/img1@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          src="./images/desktop/gallery/img1.jpg"
          class="gallery__img"
          alt="Pistachios ice cream"
        />
      </picture>
    </figure>
    <figure class="gallery__item gallery__item--2">
      <picture>
        <source
          srcset="./images/desktop/gallery/img2.webp 1x, ./images/desktop/gallery/img2@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img2.jpg 1x, ./images/desktop/gallery/img2@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          src="../images/desktop/gallery/img2.jpg"
          class="gallery__img"
          alt="Ice cream in waffle"
        />
      </picture>
    </figure>
    <figure class="gallery__item gallery__item--3">
      <picture>
        <source
          srcset="./images/desktop/gallery/img3.webp 1x, ./images/desktop/gallery/img3@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img3.jpg 1x, ./images/desktop/gallery/img3@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          src="../images/desktop/gallery/img3.jpg"
          class="gallery__img"
          alt="Raspberry ice cream"
        />
      </picture>
    </figure>
    <figure class="gallery__item gallery__item--4">
      <picture>
        <source
          srcset="./images/desktop/gallery/img4.webp 1x, ./images/desktop/gallery/img4@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img4.jpg 1x, ./images/desktop/gallery/img4@2x.jpg 2x"
          type="image/jpeg"
        />
        <img src="../images/desktop/gallery/img4.jpg" class="gallery__img" alt="8 ice cream cone" />
      </picture>
    </figure>
    <figure class="gallery__item gallery__item--5">
      <picture>
        <source
          srcset="./images/desktop/gallery/img5.webp 1x, ./images/desktop/gallery/img5@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img5.jpg 1x, ./images/desktop/gallery/img5@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          src="../images/desktop/gallery/img5.jpg"
          class="gallery__img"
          alt="Girl with ice cream"
        />
      </picture>
    </figure>
    <figure class="gallery__item gallery__item--6">
      <picture>
        <source
          srcset="./images/desktop/gallery/img6.webp 1x, ./images/desktop/gallery/img6@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img6.jpg 1x, ./images/desktop/gallery/img6@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          src="../images/desktop/gallery/img6.jpg"
          class="gallery__img"
          alt="Ice cream dessert"
        />
      </picture>
    </figure>
    <figure class="gallery__item gallery__item--7">
      <picture>
        <source
          srcset="./images/desktop/gallery/img7.webp 1x, ./images/desktop/gallery/img7@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img7.jpg 1x, ./images/desktop/gallery/img7@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          src="../images/desktop/gallery/img7.jpg"
          class="gallery__img"
          alt="Ice cream in the city"
        />
      </picture>
    </figure>
    <figure class="gallery__item gallery__item--8">
      <picture>
        <source
          srcset="./images/desktop/gallery/img8.webp 1x, ./images/desktop/gallery/img8@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img8.jpg 1x, ./images/desktop/gallery/img8@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          src="../images/desktop/gallery/img8.jpg"
          class="gallery__img"
          alt="Dog with ice cream"
        />
      </picture>
    </figure>
    <figure class="gallery__item gallery__item--9">
      <picture>
        <source
          srcset="./images/desktop/gallery/img9.webp 1x, ./images/desktop/gallery/img9@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img9.jpg 1x, ./images/desktop/gallery/img9@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          src="./images/desktop/gallery/img9.jpg"
          class="gallery__img"
          alt="Shokoshake with straw"
        />
      </picture>
    </figure>
    <figure class="gallery__item gallery__item--10">
      <picture>
        <source
          srcset="./images/desktop/gallery/img10.webp 1x, ./images/desktop/gallery/img10@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/gallery/img10.jpg 1x, ./images/desktop/gallery/img10@2x.jpg 2x"
          type="image/jpeg"
        />
        <img
          src="../images/desktop/gallery/img10.jpg"
          class="gallery__img"
          alt="Ice cream dessert"
        />
      </picture>
    </figure>
  </div>
</section>
