<header class="header">
    <div class="container main-nav">
        <a href="./index.html" class="main-nav__logo link">
            <picture>
                <source
                  srcset="
                    ./images/mobile/header/logo.jpg    1x,
                    ./images/mobile/header/logo@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="./images/mobile/header/logo.jpg"
                  alt="logo"
                  width="199"
                />
              </picture>
          </a>
          <button
            type="button"
            class="main-nav__open-button"
            aria-controls="main-nav__menu"
            data-menu-button
          >
            <svg
              class="main-nav__svg"
              aria-label="switcher mobile menu"
            >
              <use
                class="main-nav__open"
                href="./images/icons.svg#menu"
              ></use>
              <use
                class="main-nav__close"
                href="./images/icons.svg#menu-close"
              ></use>
            </svg>
          </button>
          <div class="main-nav__menu" id="main-nav__menu" data-menu>
              <button type="button"
              class="button button--light main-nav__button">
            Buy now
            <svg
            class="button__icon button__icon--dark"
            width="10" height="10"
            >
            <use
              href="./images/icons.svg#check-right"
            ></use>
          </svg></button>
            <nav>
              <ul class="site-nav list">
                <li class="site-nav__item">
                  <a
                    href="./index.html"
                    class="link site-nav__current site-nav__link"
                  >
                  Home
                  </a>
                </li>
                <li class="site-nav__item">
                  <a class="link site-nav__link" href="#">About us</a>
                </li>
                <li class="site-nav__item">
                  <a class="link site-nav__link" href="#">How it’s made?</a>
                </li>
                <li class="site-nav__item">
                    <a class="link site-nav__link" href="#">Our products</a>
                </li>
                <li class="site-nav__item">
                    <a class="link site-nav__link" href="#">Contact</a>
                </li>
              </ul>
            </nav>
          </div>        
    </div>
</header>