<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <p class="about__lead">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis non iusto nam sit tenetur
        placeat quasi unde ipsa dolore, mollitia voluptas veniam expedita. Dignissimos aperiam
        corrupti, reprehenderit atque similique suscipit eligendi temporibus obcaecati. Velit
        numquam perspiciatis quidem excepturi illo blanditiis repellendus, consequuntur ducimus
        voluptates ex maxime reiciendis minima doloribus praesentium!
      </p>
      <p class="about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sunt officiis praesentium eum
        nobis voluptatem nihil, alias consequuntur cumque laborum exercitationem molestias totam et
        maxime expedita in magnam explicabo? Accusantium illum rerum natus facilis repellat.
      </p>
      <button class="button modal__btn-close" data-modal-close>
        <svg class="modal__icon-close" width="15" height="15">
          <use href="./images/icons.svg#menu-close"></use>
        </svg>
      </button>
    </div>
  </div>