<section class="products">
    <div class="container">
        <p class="title-label">100% natural</p>
        <h2 class="title products-title">products</h2>
        <ul class="list products-list">
            <li class="products-item">
                <h3 class="proudcts-item__name">ice cream</h3>
                <p class="products-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="products-button"></button>
            </li>
            <li class="products-item">
                <h3 class="proudcts-item__name">ice coffee</h3>
                <p class="products-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="products-button"></button>
            </li>
            <li class="products-item">
                <h3 class="proudcts-item__name">milkshakes</h3>
                <p class="products-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="products-button"></button>
            </li>
        
        </ul>
    </div>
</section>