.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  border-radius: 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
.button--dark {
  background: $accent-dark;
  color: $white-text-color;
}
.button--light {
  background: $white-text-color;
  color: $accent-dark;
}
