.form {
  margin: 0 auto;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__input,
.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 16px 11px 42px;
  background: transparent;
  transition: outline $animation, border $animation;

  &:focus {
    outline: none;
    border: 1px solid $accent-dark;
  }
}
.form__textarea {
  padding: 11px 16px;
  resize: none;

  &::placeholder {
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.form__icon {
  position: absolute;
  bottom: 13px;
  left: 12px;
  fill: $accent-light;
  transition: fill $animation;

  .form__input:focus + & {
    fill: $accent-dark;
  }
}

.consent {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 20px 0 30px;
  font-size: 13px;
  line-height: 1.2;

  @include phone-and-tablet {
    font-size: 10.5px;
    line-height: 1.1;
  }
}
.consent__agreement {
  color: $accent-dark;
}
.form__button {
  width: 210px;
  height: 44px;
  margin: 0 auto;
}
